# Auto detect text files and perform LF normalization
*       text=auto

*.env   text eol=lf
*.dist  text eol=lf
*.txt   text
*.java  text diff=java
*.xml   text diff=xml
# Shell scripts require LF
*.sh    text eol=lf
# Batch scripts require CRLF
*.bat   text eol=crlf
